<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikul.myapplication">


    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application

        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".classWork.classWork1.MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>

        </intent-filter>

        </activity>
        <activity android:name=".classWork.classWork1.ClassWork1"/>
        <activity android:name=".classWork.classWork2.ClassWork2"
            android:parentActivityName=".classWork.classWork1.MainActivity"
            />
        <activity android:name=".classWork.classWork3.ClassWork3"/>
        <activity android:name=".classWork.classWork4.ClassWork4"/>
        <activity android:name=".classWork.classWork5.ClassWork5"/>
        <activity android:name=".classWork.classWork6.ClassWork6"/>
        <activity android:name=".classWork.classWork7.ClassWork7"/>
        <activity android:name=".samples.broadcact.BroadcastActivity"/>
        <activity android:name=".classWork.classWork9.ClassWork9"/>
        <activity android:name=".presentation.screens.user.UserActivity"/>
        <activity android:name=".homeWork.homeWork1.HomeWork1"/>
        <activity android:name=".homeWork.homeWork2.HomeWork2"/>
        <activity android:name=".homeWork.homeWork3.HomeWork3"/>
        <activity android:name=".presentation.screens.hw3.Hw3Activity"/>
        <activity android:name=".homeWork.homeWork4.HomeWork4"/>
        <activity android:name=".homeWork.homeWork4.OwlActivity"/>
        <activity android:name=".homeWork.homeWork4.ClockActivity"
            android:screenOrientation="fullUser"/>
        <activity android:name=".homeWork.homeWork5.HomeWork5"/>
        <activity android:name=".homeWork.homeWork6.HomeWork6"/>
        <activity android:name=".homeWork.homeWork7.HomeWork7"/>
        <activity android:name=".homeWork.homeWork8.HomeWork8"/>
        <activity android:name=".homeWork.homeWork9.HomeWork9"/>

        <receiver android:name=".classWork.classWork5.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>
        <service android:name=".classWork.classWork5.MyService"/>
        <service android:name=".classWork.classWork5.MyIntentService"/>
        <service android:name=".samples.broadcact.MyServiceActivity"/>
        <service android:name=".homeWork.homeWork5.WifiService"/>


        </application>
</manifest>
